.container{
    width: 70%;
    margin: auto;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
a {
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}